<ng-container #logicBlockHeader></ng-container>

<div class="configuration-content">
    <div>
        <p>{{'EDIT_RICH_TEXT.SUB_TITLE' | translate}}</p>
    </div>
    <pep-select [label]="'EDIT_RICH_TEXT.OBJECT_LABEL' | translate" 
                [options]="objectFlowParamsOptions" 
                [emptyOption]="false" 
                [value]="currentConfiguration?.Object?.FlowParamSource || null"
                (valueChange)="onFlowParamSourceChange($event, currentConfiguration.Object)"
    ></pep-select>
    <ng-container *ngTemplateOutlet="chooseByParamSourceTemplate; context: { 
        title: ('EDIT_RICH_TEXT.FIND_LABEL' | translate),
        configurationProperty: currentConfiguration.Find, 
        staticValue: '',
        dynamicOptions: stringFlowParamsOptions}">
    </ng-container>
    <ng-container *ngTemplateOutlet="chooseByParamSourceTemplate; context: { 
        title: ('EDIT_RICH_TEXT.REPLACE_LABEL' | translate),
        configurationProperty: currentConfiguration.Replace, 
        staticValue: '',
        dynamicOptions: stringFlowParamsOptions}">
    </ng-container>
</div>

<ng-template #chooseByParamSourceTemplate let-title="title" let-mandatory="mandatory" let-configurationProperty="configurationProperty" >
    <div class="flex-row">
        <!-- Title & static dynamic dropdown -->
        <pep-select [disabled]="!currentConfiguration?.Object?.FlowParamSource" [label]="title" [options]="parameterTypeOptions" [emptyOption]="false" [value]="configurationProperty?.FlowParamSource"
            [mandatory]="mandatory" (valueChange)="onFlowParamSourceChange($event, configurationProperty)"></pep-select>

        <!-- For static -->
        <pep-textbox [disabled]="!currentConfiguration?.Object?.FlowParamSource"  *ngIf="configurationProperty?.FlowParamSource === 'Static'"
            [value]="configurationProperty?.Value" (valueChange)="onPropertyValueChange($event, configurationProperty)"></pep-textbox>

        <!-- For dynamic - show flow params -->
        <pep-select [disabled]="!currentConfiguration?.Object?.FlowParamSource"  *ngIf="configurationProperty?.FlowParamSource === 'Dynamic'" [options]="stringFlowParamsOptions" [emptyOption]="false" 
            [value]="configurationProperty?.Value" (valueChange)="onPropertyValueChange($event, configurationProperty)"></pep-select>
    </div>
</ng-template>
