<ng-container #logicBlockHeader></ng-container>

<div class="configuration-content">
  <div>
    <div>
      <p>{{'EXTRACT_VALUE.SUB_TITLE' | translate}}</p>
    </div>
    <div class="single-element-row">
      <pep-select
        [label]="'EXTRACT_VALUE.SELECT_OBJECT' | translate"
        [options]="objectFlowParamsOptions"
        [emptyOption]="false"
        [value]="currentConfiguration?.Object?.Value"
        [mandatory]="true"
        (valueChange)="onPropertyValueChange($event,currentConfiguration.Object)"
      ></pep-select>
    </div>

    <div class="flex-row">
      <ng-container
        *ngTemplateOutlet="
          chooseByParamSourceTemplate;
          context: {
            title: ('EXTRACT_VALUE.PATH' | translate),
            configurationProperty: currentConfiguration.SourcePath
          }
        "
      >
      </ng-container>
    </div>

    <div class="single-element-row">
      <pep-select
        [label]="'EXTRACT_VALUE.SAVE' | translate"
        [options]="allFlowParamsOptions"
        [emptyOption]="false"
        [value]="currentConfiguration?.SaveSourceOn?.Value"
        [mandatory]="true"
        (valueChange)="onPropertyValueChange($event,currentConfiguration.SaveSourceOn)"
      ></pep-select>
    </div>
  </div>

  <ng-template
    #chooseByParamSourceTemplate
    let-title="title"
    let-mandatory="mandatory"
    let-configurationProperty="configurationProperty"
  >
    <div class="flex-row">
      <pep-select
        [disabled]="!currentConfiguration?.SourcePath?.FlowParamSource"
        [label]="title"
        [options]="parameterTypeOptions"
        [emptyOption]="false"
        [value]="configurationProperty?.FlowParamSource"
        [mandatory]="mandatory"
        (valueChange)="onFlowParamSourceChange($event, configurationProperty)"
      ></pep-select>

      <!-- For static -->
      <pep-textbox
        [disabled]="!currentConfiguration?.SourcePath?.FlowParamSource"
        *ngIf="configurationProperty?.FlowParamSource === 'Static'"
        [value]="configurationProperty?.Value"
        (valueChange)="onPropertyValueChange($event, configurationProperty)"
      ></pep-textbox>

      <!-- For dynamic - show flow params -->
      <pep-select
        [disabled]="!currentConfiguration?.SourcePath?.FlowParamSource"
        *ngIf="configurationProperty?.FlowParamSource === 'Dynamic'"
        [options]="allFlowParamsOptions"
        [emptyOption]="false"
        [value]="configurationProperty?.Value"
        (valueChange)="onPropertyValueChange($event, configurationProperty)"
      ></pep-select>
    </div>
  </ng-template>
</div>
