<ng-container #logicBlockHeader></ng-container>
    
<div class="configuration-content">
  <div class="flex-row">
    <label class="body-sm"><h3>{{'SEARCH_DATA.TITLE' | translate}}</h3></label>
  </div>
  <div class="pep-border-bottom"></div>
</div>
    <ng-container pep-main-area >    
      <pep-generic-list [dataSource]="listDataSource" [actions]="listActions" [inline]="false" [showTopBar]="true" [noDataFoundMsg]=  "'No Resources available' | translate"  [uuidMapping]="'Key'" (fieldClick)="onListClicked($event)">
          <ng-container right-buttons>
              <pep-button class="pep-spacing-element" [sizeType]="'md'" [value]= "'SEARCH_DATA.ADD_RESOURCE_BUTTON' | translate" [styleType]="'strong'" (buttonClick)="addResource()"></pep-button>
          </ng-container>
    </pep-generic-list>
</ng-container>
  

