<ng-container #logicBlockHeader></ng-container>

<div class="configuration-content">
    <pep-select [label]="'NAVIGATE_TO.CHOOSE_NAVIGATION_TYPE' | translate" [options]="navigationToTypeOptions" [emptyOption]="false" [value]="currentConfiguration.Data.Type"
        (valueChange)="onNavigationTypeChange($event)"></pep-select>

    <div *ngIf="isObjectNavigationType(currentConfiguration.Data.Type)" class="flex-row">
        <pep-select [label]="objectTypeResourcesMap.get(currentConfiguration.Data.Type) || ''" [options]="parameterTypeOptions" [emptyOption]="false" [value]="currentConfiguration.Data.ObjectData?.FlowParamSource"
            (valueChange)="onFlowParamSourceChange($event, currentConfiguration.Data.ObjectData)"></pep-select>

        <!-- For static - when type is not slug -->
        <ng-container *ngIf="currentConfiguration.Data.ObjectData?.FlowParamSource === 'Static' && currentConfiguration.Data.Type !== 'Slug'">
            <pep-textbox *ngIf="currentConfiguration.Data.Type !== 'Account Dashboard'" [value]="currentConfiguration.Data.ObjectData?.Value" 
                (valueChange)="onPropertyValueChange($event, currentConfiguration.Data.ObjectData)"></pep-textbox>
            <pep-button *ngIf="currentConfiguration.Data.Type === 'Account Dashboard'" class="field-with-no-title" 
                [value]="currentConfiguration.Data.ObjectData?.Value || ('NAVIGATE_TO.CHOOSE_ACCOUNT' | translate)" (buttonClick)="chooseAccountClick(addonBlockService)"></pep-button>
        </ng-container>
        <ng-container *ngIf="currentConfiguration.Data.ObjectData?.FlowParamSource === 'Static' && currentConfiguration.Data.Type === 'Slug'" >
            <!-- For static - when type is slug -->
            <pep-select [options]="slugStaticOptions" [emptyOption]="false" 
                [value]="currentConfiguration.Data.ObjectData?.Value" (valueChange)="onPropertyValueChange($event, currentConfiguration.Data.ObjectData)"></pep-select>
        </ng-container>

        <!-- For dynamic - show flow params -->
        <pep-select *ngIf="currentConfiguration.Data.ObjectData?.FlowParamSource === 'Dynamic'" [options]="stringFlowParamsOptions" [emptyOption]="false" 
            [value]="currentConfiguration.Data.ObjectData?.Value" (valueChange)="onPropertyValueChange($event, currentConfiguration.Data.ObjectData)"></pep-select>
    </div>
    <div *ngIf="currentConfiguration.Data.Type === 'Activities'" class="flex-row one-column">
        <mat-radio-group class="radio-group ">
            <mat-radio-button class="pep-radio-button md no-default-background" value="All Lists"
                [checked]="currentConfiguration.Data.ViewType === 'All Lists'" (click)="onPropertyViewTypeChange('All Lists', currentConfiguration.Data.ActivitiesData)">
                <span class="body-sm ellipsis">{{ 'NAVIGATE_TO.ACTIVITIES_TYPE.ALL_LIST' | translate }}</span>
            </mat-radio-button>
            <mat-radio-button class="pep-radio-button md no-default-background" value="Single List"
                [checked]="currentConfiguration.Data.ViewType === 'Single List'" (click)="onPropertyViewTypeChange('Single List', currentConfiguration.Data.ActivitiesData)">
                <span class="body-sm ellipsis">{{ 'NAVIGATE_TO.ACTIVITIES_TYPE.SINGLE_LIST' | translate }}</span>
            </mat-radio-button>
        </mat-radio-group>

        <pep-select *ngIf="currentConfiguration.Data.ViewType === 'Single List'" [label]="'NAVIGATE_TO.ACTIVITIES_TYPE.ACTIVITY_LIST_TITLE' | translate" 
            [options]="activitiesListOptions" [emptyOption]="false" [value]="currentConfiguration.Data.ActivitiesData?.Value" (valueChange)="onPropertyValueChange($event, currentConfiguration.Data.ActivitiesData)"></pep-select>
    </div>
    <div *ngIf="currentConfiguration.Data.Type === 'Transaction'" class="flex-row one-column">
        <pep-select [label]="'NAVIGATE_TO.TRANSACTION_TYPE.TRANSACTION_VIEW_TITLE' | translate"  [options]="transactionViewListOptions"
            [emptyOption]="false" [value]="currentConfiguration.Data.ViewType" (valueChange)="onPropertyViewTypeChange($event, currentConfiguration.Data.TransactionData, false)"></pep-select>

        <ng-container *ngTemplateOutlet="chooseByParamSourceTemplate; context: { 
            title: ('NAVIGATE_TO.TRANSACTION_TYPE.TRANSACTION_UUID' | translate),
            configurationProperty: currentConfiguration.Data.TransactionData }">
        </ng-container>

        <ng-container *ngIf="currentConfiguration.Data.ViewType === 'Item Details' || currentConfiguration.Data.ViewType === 'Matrix'">
            <ng-container *ngTemplateOutlet="chooseByParamSourceTemplate; context: { 
                title: ('NAVIGATE_TO.TRANSACTION_TYPE.CHILD_UUID' | translate),
                configurationProperty: currentConfiguration.Data.ChildTransactionData }">
            </ng-container>
        </ng-container>

        <ng-container *ngTemplateOutlet="chooseByParamSourceTemplate; context: { 
            title: ('NAVIGATE_TO.TRANSACTION_TYPE.QUERY_PARAMS' | translate),
            configurationProperty: currentConfiguration.Data.QsTransactionData }">
        </ng-container>

    </div>
</div>

<ng-template #chooseByParamSourceTemplate let-title="title" let-mandatory="mandatory" let-configurationProperty="configurationProperty" >
    <div class="flex-row">
        <!-- Title & static dynamic dropdown -->
        <pep-select [label]="title" [options]="parameterTypeOptions" [emptyOption]="false" [value]="configurationProperty?.FlowParamSource"
            [mandatory]="mandatory" (valueChange)="onFlowParamSourceChange($event, configurationProperty)"></pep-select>

        <!-- For static -->
        <pep-textbox *ngIf="configurationProperty?.FlowParamSource === 'Static'"
            [value]="configurationProperty?.Value" (valueChange)="onPropertyValueChange($event, configurationProperty)"></pep-textbox>

        <!-- For dynamic - show flow params -->
        <pep-select *ngIf="configurationProperty?.FlowParamSource === 'Dynamic'" [options]="stringFlowParamsOptions" [emptyOption]="false" 
            [value]="configurationProperty?.Value" (valueChange)="onPropertyValueChange($event, configurationProperty)"></pep-select>
    </div>
</ng-template>
